<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
   
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/" >Shop</a></li>
                  <li class="main-header__item">  <a href="/admin/add-product" class="active">Add Product</a>
                </li>
                <li class="main-header__item">
                    <a href="/contactus" >Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <form action="/success" method="POST" class="formm">
       <div class="formin">
            <label for="name">Name:</label><br>
            <input type="text" name="name" id="name" required><br><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email" required>
        </div>
     <div class="button">    <button type="submit">Submit</button> </div> 
    </form>
</body>
</html>